In [1]:
# importing the required libraries
import pandas as pd
import numpy as np

### Reading the labeling output json file into a dataframe

In [2]:
#  Reading the labeling output json file into a dataframe
df = pd.read_json('konbert-export-1229ae3d767e4.json')

In [3]:
df.head()

,data_row.id,data_row.row_data,media_attributes.height,media_attributes.width,media_attributes.mime_type,projects.clid62kgj04jm07vm462nbo1x.name,projects.clid62kgj04jm07vm462nbo1x.labels,media_attributes.exif_rotation
0,clid60xl5106507411r74a6bw,gs://labelbox-demo-project/auto-img-10.jpg,420,640,image/jpeg,LB_project_vehicle_classifier,"[{'label_kind': 'Default', 'version': '1.0.0',...",NaN
1,clid60xl5106907413vj2bvk1,gs://labelbox-demo-project/auto-img-12.jpg,420,640,image/jpeg,LB_project_vehicle_classifier,"[{'label_kind': 'Default', 'version': '1.0.0',...",NaN
2,clid60xl5106d0741d9xo1dbu,gs://labelbox-demo-project/auto-img-13.jpg,420,640,image/jpeg,LB_project_vehicle_classifier,"[{'label_kind': 'Default', 'version': '1.0.0',...",NaN
3,clid60xl5106h0741cojh8j8k,gs://labelbox-demo-project/auto-img-16.jpg,420,640,image/jpeg,LB_project_vehicle_classifier,"[{'label_kind': 'Default', 'version': '1.0.0',...",NaN
4,clid60xl5106l07414ub9dtv6,gs://labelbox-demo-project/auto-img-17.jpg,420,640,image/jpeg,LB_project_vehicle_classifier,"[{'label_kind': 'Default', 'version': '1.0.0',...",NaN

In [18]:
df.columns          # getting a list of the column headers

Index(['data_row.id', 'data_row.row_data', 'media_attributes.height',
       'media_attributes.width', 'media_attributes.mime_type',
       'projects.clid62kgj04jm07vm462nbo1x.name',
       'projects.clid62kgj04jm07vm462nbo1x.labels',
       'media_attributes.exif_rotation'],
      dtype='object')

### Dropping unnecessary columns

In [19]:
df1 = df.drop(['data_row.id','projects.clid62kgj04jm07vm462nbo1x.name','media_attributes.mime_type','media_attributes.exif_rotation'], axis=1)

In [20]:
df1.head()

,data_row.row_data,media_attributes.height,media_attributes.width,projects.clid62kgj04jm07vm462nbo1x.labels
0,gs://labelbox-demo-project/auto-img-10.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."
1,gs://labelbox-demo-project/auto-img-12.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."
2,gs://labelbox-demo-project/auto-img-13.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."
3,gs://labelbox-demo-project/auto-img-16.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."
4,gs://labelbox-demo-project/auto-img-17.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."

### Renaming the columns for better readability

In [21]:
df1.rename(columns={
    'data_row.row_data':'source_img',
    'media_attributes.height':'img_h',
    'media_attributes.width':'img_w',
    'projects.clid62kgj04jm07vm462nbo1x.labels':'labels'
}, inplace=True)

In [22]:
df1.head()

,source_img,img_h,img_w,labels
0,gs://labelbox-demo-project/auto-img-10.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."
1,gs://labelbox-demo-project/auto-img-12.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."
2,gs://labelbox-demo-project/auto-img-13.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."
3,gs://labelbox-demo-project/auto-img-16.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."
4,gs://labelbox-demo-project/auto-img-17.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."

### Converting the nested values into a list for further transformations

In [23]:
fd1_li = list(df1['labels'])

In [25]:
# fd1_li[0][0]

In [87]:
# fd1_li[0][0]['annotations']['classifications'][0]['radio_answer']['name']
# fd1_li[0][0]['annotations']['classifications'][0]['name']

### Declaring lists to store the required values form the nested structure

In [26]:
annotation_name = []
annotation_kind = []
bounding_box_top = []
bounding_box_left = []
bounding_box_height = []
bounding_box_width = []
classifications_name = []
classifications_type = []

### Looping through the list and appending the required values to the respective lists

In [27]:
for i in range(len(fd1_li)):
    annotation_name.append(fd1_li[i][0]['annotations']['objects'][0]['name'])
    annotation_kind.append(fd1_li[i][0]['annotations']['objects'][0]['annotation_kind'])
    bounding_box_top.append(fd1_li[i][0]['annotations']['objects'][0]['bounding_box']['top'])
    bounding_box_left.append(fd1_li[i][0]['annotations']['objects'][0]['bounding_box']['left'])
    bounding_box_height.append(fd1_li[i][0]['annotations']['objects'][0]['bounding_box']['height'])
    bounding_box_width.append(fd1_li[i][0]['annotations']['objects'][0]['bounding_box']['width'])
    classifications_name.append(fd1_li[i][0]['annotations']['classifications'][0]['name'])
    classifications_type.append(fd1_li[i][0]['annotations']['classifications'][0]['radio_answer']['name'])

In [28]:
df1.head()

,source_img,img_h,img_w,labels
0,gs://labelbox-demo-project/auto-img-10.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."
1,gs://labelbox-demo-project/auto-img-12.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."
2,gs://labelbox-demo-project/auto-img-13.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."
3,gs://labelbox-demo-project/auto-img-16.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."
4,gs://labelbox-demo-project/auto-img-17.jpg,420,640,"[{'label_kind': 'Default', 'version': '1.0.0',..."

### Adding the output to the dataframe

In [29]:
df1['annotation_name'] = annotation_name
df1['annotation_kind'] = annotation_kind
df1['bounding_box_top'] = bounding_box_top
df1['bounding_box_left'] = bounding_box_left
df1['bounding_box_height'] = bounding_box_height
df1['bounding_box_width'] = bounding_box_width
df1['classifications_name'] = classifications_name
df1['classifications_type'] = classifications_type

In [30]:
df1 = df1.drop(['labels'],axis=1)

In [31]:
df1.head(2)

,source_img,img_h,img_w,annotation_name,annotation_kind,bounding_box_top,bounding_box_left,bounding_box_height,bounding_box_width,classifications_name,classifications_type
0,gs://labelbox-demo-project/auto-img-10.jpg,420,640,auto,ImageBoundingBox,18.0,144.0,173.0,330.0,vehicle_type,3-wheeler
1,gs://labelbox-demo-project/auto-img-12.jpg,420,640,auto,ImageBoundingBox,22.0,255.0,192.0,331.0,vehicle_type,3-wheeler

### Checking for null values

In [16]:
for i in df1.columns:
    print(i,' : ',df1[f'{i}'].isnull().sum())

source_img  :  0
img_h  :  0
img_w  :  0
annotation_name  :  0
annotation_kind  :  0
bounding_box_left  :  0
bounding_box_height  :  0
bounding_box_width  :  0
classifications_name  :  0
classifications_type  :  0

In [60]:
df2 = df1[['source_img','classifications_type','bounding_box_top','bounding_box_left','bounding_box_height','bounding_box_width']]

In [61]:
df2 = df2.rename(columns={
    'bounding_box_top':'X_MIN',
    'bounding_box_left':'Y_MIN'
})

In [62]:
df2.head(2)

,source_img,classifications_type,X_MIN,Y_MIN,bounding_box_height,bounding_box_width
0,gs://labelbox-demo-project/auto-img-10.jpg,3-wheeler,18.0,144.0,173.0,330.0
1,gs://labelbox-demo-project/auto-img-12.jpg,3-wheeler,22.0,255.0,192.0,331.0

In [63]:
df2.dtypes

source_img               object
classifications_type     object
X_MIN                   float64
Y_MIN                   float64
bounding_box_height     float64
bounding_box_width      float64
dtype: object

In [64]:
df2['X_MAX'] = df2['X_MIN'] + df2['bounding_box_height']

In [65]:
df2['Y_MAX'] = df2['Y_MIN'] + df2['bounding_box_width']

In [66]:
df2['head'] = 'train'

In [67]:
df2.columns

Index(['source_img', 'classifications_type', 'X_MIN', 'Y_MIN',
       'bounding_box_height', 'bounding_box_width', 'X_MAX', 'Y_MAX', 'head'],
      dtype='object')

In [69]:
df3_final = df2[['head','source_img', 'classifications_type', 'X_MIN', 'Y_MIN', 'X_MAX', 'Y_MAX', ]]

In [70]:
df3_final['head'] = 'training'

C:\Users\Zeeshan Sarwar\AppData\Local\Temp\ipykernel_4048\2908835168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_final['head'] = 'training'

In [71]:
df3_final['X_MAX_2'] = ''
df3_final['Y_MIN_2'] = ''
df3_final['X_MIN_4'] = ''
df3_final['Y_MAX_4'] = ''

C:\Users\Zeeshan Sarwar\AppData\Local\Temp\ipykernel_4048\2456980024.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_final['X_MAX_2'] = ''

In [72]:
df3_final.columns

Index(['head', 'source_img', 'classifications_type', 'X_MIN', 'Y_MIN', 'X_MAX',
       'Y_MAX', 'X_MAX_2', 'Y_MIN_2', 'X_MIN_4', 'Y_MAX_4'],
      dtype='object')

In [73]:
df3_final = df3_final[['head', 'source_img', 'classifications_type', 'X_MIN', 'Y_MIN', 'X_MAX_2', 'Y_MIN_2', 'X_MAX',
       'Y_MAX', 'X_MIN_4', 'Y_MAX_4']]

In [74]:
df3_final

,head,source_img,classifications_type,X_MIN,Y_MIN,X_MAX_2,Y_MIN_2,X_MAX,Y_MAX,X_MIN_4,Y_MAX_4
0,training,gs://labelbox-demo-project/auto-img-10.jpg,3-wheeler,18.0,144.0,,,191.0,474.0,,
1,training,gs://labelbox-demo-project/auto-img-12.jpg,3-wheeler,22.0,255.0,,,214.0,586.0,,
2,training,gs://labelbox-demo-project/auto-img-13.jpg,3-wheeler,70.0,140.0,,,242.0,467.0,,
3,training,gs://labelbox-demo-project/auto-img-16.jpg,3-wheeler,150.0,271.0,,,256.0,414.0,,
4,training,gs://labelbox-demo-project/auto-img-17.jpg,3-wheeler,26.0,179.0,,,292.0,438.0,,
...,...,...,...,...,...,...,...,...,...,...,...
60,training,gs://labelbox-demo-project/truck-img-15.jpg,4-wheeler,0.0,54.0,,,284.0,535.0,,
61,training,gs://labelbox-demo-project/truck-img-3.jpg,4-wheeler,49.0,126.0,,,167.0,472.0,,
62,training,gs://labelbox-demo-project/truck-img-6.jpg,4-wheeler,20.0,129.0,,,213.0,427.0,,
63,training,gs://labelbox-demo-project/truck-img-7.jpg,4-wheeler,79.0,126.0,,,243.0,423.0,,
64,training,gs://labelbox-demo-project/truck-img-9.jpg,4-wheeler,0.0,23.0,,,184.0,488.0,,

In [75]:
df3_final.columns

Index(['head', 'source_img', 'classifications_type', 'X_MIN', 'Y_MIN',
       'X_MAX_2', 'Y_MIN_2', 'X_MAX', 'Y_MAX', 'X_MIN_4', 'Y_MAX_4'],
      dtype='object')

In [84]:
df3_final

,head,source_img,classifications_type,X_MIN,Y_MIN,X_MAX_2,Y_MIN_2,X_MAX,Y_MAX,X_MIN_4,Y_MAX_4
0,training,gs://labelbox-demo-project/auto-img-10.jpg,3-wheeler,18.0,144.0,,,191.0,474.0,,
1,training,gs://labelbox-demo-project/auto-img-12.jpg,3-wheeler,22.0,255.0,,,214.0,586.0,,
2,training,gs://labelbox-demo-project/auto-img-13.jpg,3-wheeler,70.0,140.0,,,242.0,467.0,,
3,training,gs://labelbox-demo-project/auto-img-16.jpg,3-wheeler,150.0,271.0,,,256.0,414.0,,
4,training,gs://labelbox-demo-project/auto-img-17.jpg,3-wheeler,26.0,179.0,,,292.0,438.0,,
...,...,...,...,...,...,...,...,...,...,...,...
60,training,gs://labelbox-demo-project/truck-img-15.jpg,4-wheeler,0.0,54.0,,,284.0,535.0,,
61,training,gs://labelbox-demo-project/truck-img-3.jpg,4-wheeler,49.0,126.0,,,167.0,472.0,,
62,training,gs://labelbox-demo-project/truck-img-6.jpg,4-wheeler,20.0,129.0,,,213.0,427.0,,
63,training,gs://labelbox-demo-project/truck-img-7.jpg,4-wheeler,79.0,126.0,,,243.0,423.0,,
64,training,gs://labelbox-demo-project/truck-img-9.jpg,4-wheeler,0.0,23.0,,,184.0,488.0,,

Normalizing the bounding box vertices as required ny VertexAI import format`

In [81]:
df3_columns = [ 'X_MIN', 'Y_MIN', 'X_MAX', 'Y_MAX']

In [88]:
df3_min_max_scaled = df3_final.copy()

In [94]:
# df3_min_max_scaled

In [90]:
# apply normalization techniques
for column in df3_columns:
    df3_min_max_scaled[column] = (df3_min_max_scaled[column] - df3_min_max_scaled[column].min()) / (df3_min_max_scaled[column].max() - df3_min_max_scaled[column].min())

In [91]:
# df3_min_max_scaled

,head,source_img,classifications_type,X_MIN,Y_MIN,X_MAX_2,Y_MIN_2,X_MAX,Y_MAX,X_MIN_4,Y_MAX_4
0,training,gs://labelbox-demo-project/auto-img-10.jpg,3-wheeler,0.072581,0.400000,,,0.122222,0.565445,,
1,training,gs://labelbox-demo-project/auto-img-12.jpg,3-wheeler,0.088710,0.708333,,,0.186111,0.858639,,
2,training,gs://labelbox-demo-project/auto-img-13.jpg,3-wheeler,0.282258,0.388889,,,0.263889,0.547120,,
3,training,gs://labelbox-demo-project/auto-img-16.jpg,3-wheeler,0.604839,0.752778,,,0.302778,0.408377,,
4,training,gs://labelbox-demo-project/auto-img-17.jpg,3-wheeler,0.104839,0.497222,,,0.402778,0.471204,,
...,...,...,...,...,...,...,...,...,...,...,...
60,training,gs://labelbox-demo-project/truck-img-15.jpg,4-wheeler,0.000000,0.150000,,,0.380556,0.725131,,
61,training,gs://labelbox-demo-project/truck-img-3.jpg,4-wheeler,0.197581,0.350000,,,0.055556,0.560209,,
62,training,gs://labelbox-demo-project/truck-img-6.jpg,4-wheeler,0.080645,0.358333,,,0.183333,0.442408,,
63,training,gs://labelbox-demo-project/truck-img-7.jpg,4-wheeler,0.318548,0.350000,,,0.266667,0.431937,,
64,training,gs://labelbox-demo-project/truck-img-9.jpg,4-wheeler,0.000000,0.063889,,,0.102778,0.602094,,

In [76]:
# df4 = df3_final[['head', 'source_img', 'classifications_type']]

In [92]:
# df4

### Saving the output to a csv file

In [93]:
df3_min_max_scaled.to_csv('vertexaiInput_df3.csv')

In [78]:
# df3_final.to_csv('vertexaiInput_newdata.csv')